<nav class="navbar navbar-dark bg-dark d-flex justify-content-center justify-content-md-between">

  <div class="d-flex justify-content-end align-items-center">
    <span class="m-2 material-symbols-outlined text-white">confirmation_number</span>
    <a class="navbar-brand cursor-pointer px-2" role="button" routerLink="app-play">
      Διαχείρηση κρατήσεων
    </a>
  </div>

  <div class="px-4 d-flex align-items-center gap-2">
    <div *ngIf="authService.currentUser()">
    <span class="text-white-50 small ">Logged in as: </span>
    <a class="cursor-pointer mb-0 text-white small me-2 text-decoration-none" role="button" routerLink="">
      {{authService.currentUser()?.username}}
    </a>
    </div>
    <button *ngIf="authService.currentUser()" class="btn btn-sm btn-outline-light ms-2" (click)="logout()">Logout</button>
    <button *ngIf="!authService.currentUser()" class="btn btn-sm btn-outline-light ms-2" (click)="login()">Login</button>
  </div>

</nav>

<nav class="mt-1 mb-4 navbar navbar-dark bg-dark-subtle navbar-expand-lg d-flex justify-content-end">

  <div class="px-4 d-flex align-items-center justify-content-center">

<!--    <a class="navbar-text text-decoration-none cursor-pointer " role="button" [routerLink]="['app-login']" [routerLinkActive] = "['active']">Είσοδος στην εφαρμογή</a>-->
    <button class="btn btn-sm btn-outline-light ms-2 text-black text-center" role="button"  *ngIf="authService.isAdmin()" [routerLink]="['app-register']" [routerLinkActive] = "['active']">Δημιουργία νέου χρήστη</button>
    <button class="btn btn-sm btn-outline-light ms-2 text-black text-center" role="button" *ngIf="authService.isAdmin()" [routerLink]="['app-play']" [routerLinkActive] = "['active']">Προσθήκη έργου</button>
    <button class="btn btn-sm btn-outline-light ms-2 text-black  text-center" role="button"*ngIf="authService.isAdmin()" [routerLink]="['app-show']" [routerLinkActive] = "['active']">Προσθήκη παραστάσεων</button>
    <button class="btn btn-sm btn-outline-light ms-2 text-center" role="button"[routerLink]="['app-play-list']" [routerLinkActive] = "['active']">Λίστα έργων</button>

  </div>

</nav>

