  <mat-card *ngFor="let play of plays" class="mb-2">
    <div class="d-flex flex-row justify-content-between align-items-center p-4">
      <div>
    <mat-card-title class="m-4">
      <strong>{{ play.title }}</strong> ({{ play.year }})
    </mat-card-title>

    <mat-card-content class="m-2">
      <p *ngIf="authService.isAdmin()"><strong>Κωδικός έργου:</strong> {{ play.code }}</p>
      <p><strong>Σκηνοθέτης:</strong> {{ play.director }}</p>
      <p
        matTooltip="{{ play.cast }}"
        style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 100%; cursor: pointer;"
      >
        <strong>Συντελεστές:</strong> {{ play.cast }}
      </p>
      <p><strong>Διάρκεια:</strong> {{ play.duration }} mins</p>
    </mat-card-content>

      </div>
      <div>
<mat-card-actions class="m-4 text-center d-flex justify-content-center">

  <div class="d-none d-md-block">
  <button class="m-2"
    mat-raised-button
    *ngIf="authService.isAdmin()"
    (click)="onEditPlay(play)"
  >
    Επεξεργασία έργου
  </button>

  <button class="m-2"
    mat-raised-button
    *ngIf="authService.isAdmin()"
    (click)="onDeletePlay(play)"
  >
    Διαγραφή έργου
  </button>

  <button class="m-2"
    mat-raised-button
    (click)="onFindShow(play)"
  >
    Εμφάνιση παραστάσεων
  </button>

    <button class="m-2"
            mat-raised-button
            *ngIf="authService.isAdmin()"
            (click)="onAddShow(play)"
    >
      Προσθήκη παραστάσεων
    </button>
  </div>

  <div class="d-md-none d-flex flex-column justify-content-center gap-4">
    <button
            mat-raised-button
            *ngIf="authService.isAdmin()"
            (click)="onEditPlay(play)"
            matTooltip="Επεξεργασία έργου"
    >
      <mat-icon class="mx-auto">edit</mat-icon>
    </button>

    <button
            mat-raised-button
            *ngIf="authService.isAdmin()"
            (click)="onDeletePlay(play)"
            matTooltip="Διαγραφή έργου"
    >
      <mat-icon class="mx-auto">delete</mat-icon>
    </button>

    <button
            mat-raised-button
            (click)="onFindShow(play)"
            matTooltip="Εμφάνιση παραστάσεων"
    >
      <mat-icon class="mx-auto">format_list_bulleted</mat-icon>
    </button>

    <button
            mat-raised-button
            *ngIf="authService.isAdmin()"
            (click)="onAddShow(play)"
            matTooltip="Προσθήκη παραστάσεων"
    >
      <mat-icon class="mx-auto">add_circle</mat-icon>
    </button>

  </div>
</mat-card-actions>
      </div>
    </div>
