  <mat-card *ngFor="let play of plays" class="mb-2">
    <mat-card-title class="m-4">
      <strong>{{ play.title }}</strong> ({{ play.year }})
    </mat-card-title>

    <mat-card-content class="m-2">
      <p *ngIf="isAdmin"><strong>Κωδικός έργου:</strong> {{ play.code }}</p>
      <p><strong>Σκηνοθέτης:</strong> {{ play.director }}</p>
      <p
        matTooltip="{{ play.cast }}"
        style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 100%; cursor: pointer;"
      >
        <strong>Συντελεστές:</strong> {{ play.cast }}
      </p>
      <p><strong>Διάρκεια:</strong> {{ play.duration }} mins</p>
    </mat-card-content>

<mat-card-actions class="m-2">

  <button
    mat-raised-button
    color="accent"
    *ngIf="isAdmin"
    (click)="onEditPlay(play)"
  >
    Επεξεργασία έργου
  </button>

  <button
    mat-raised-button
    color="warn"
    *ngIf="isAdmin"
    (click)="onDeletePlay(play)"
  >
    Διαγραφή έργου
  </button>

  <button
    mat-raised-button
    color="primary"
    (click)="onFindShow(play)"
  >
    Εμφάνιση παραστάσεων
  </button>
</mat-card-actions>