<div class="flex text-center">
  <div *ngFor="let row of seatingPlan">
    <div>

      <ng-container *ngFor="let seat of row.seats">
        <button
          mat-icon-button
         [disabled]=""
          (click)="handleSeatStatus(seat)">
          <mat-icon class={{getSeatColour(seat.status)}}>{{ getSeatIcon(seat.status) }}</mat-icon>
        </button>
      </ng-container>
    </div>
  </div>
<button class="mt-4 mx-2" mat-raised-button color="primary" (click)="onClickHandler()">
  Κράτηση θέσεων
</button>

  <button class="mt-4 mx-2" mat-raised-button color="primary" (click)="onClickBack()">
    Επιλογή άλλης παράστασης
  </button>

</div>
