

<mat-card class="mb-2 p-4">

  <mat-card-title class="m-4">
      <strong>{{ playTitle }}</strong> ({{ playYear }})
    </mat-card-title>

    <mat-card-content class="m-2">
      <p><strong>Σκηνοθέτης:</strong> {{ playDirector }}</p>
      <p
        matTooltip="{{ playCast }}"
        style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 100%; cursor: pointer;"
      >
        <strong>Συντελεστές:</strong> {{ playCast }}
      </p>
      <p><strong>Διάρκεια:</strong> {{ playDuration }} mins</p>
    </mat-card-content>
    <mat-card-footer class= "d-flex align-items-center justify-content-end justify-content-sm-center px-4 pt-4 flex-sm-row flex-column">
      <div class="d-flex align-items-center">
      <span class="material-icons text-success">stop</span>
        <span>Αρκετές θέσεις</span>
      </div>
      <div class="d-flex align-items-center px-4">
        <span class="material-icons text-warning">stop</span>
        <span>Περιορισμένες θέσεις</span>
      </div>
      <div class="d-flex align-items-center">
        <span class="material-icons text-danger">stop</span>
        <span>Sold out</span>
      </div>
    </mat-card-footer>
</mat-card>


  <mat-card class="{{show.cardColour}} mb-2" *ngFor="let show of shows" >

    <mat-card-content class="m-2">
      <div class="gap-16">
        <div class="mb-2"><strong>Ημερομηνία:</strong> {{ show.showDate | date: 'dd-MM-yyyy' }}</div>
        <div class="mb-2"><strong>Ημέρα:</strong> {{ show.showDate | date: 'EEEE'  }}</div>
        <div><strong>Ώρα:</strong> {{ show.time }}</div>
      </div>
    </mat-card-content>

  <mat-card-actions >

      <button class="m-2"
        *ngIf="token && !this.authService.isAdmin()"
        mat-raised-button

        [disabled]="show.cardColour === 'red-card'"
        (click)="onEditShow(show)"
      >
        Επιλογή θέσης
      </button>

      <button class="m-2"
        *ngIf="!token"
        mat-raised-button
        (click)="login()"
      >
        Κάνετε σύνδεση για κράτηση
      </button>

      <button class="m-2 p-2"
        *ngIf="authService.isAdmin()"
        mat-raised-button
        (click)="onEditShow(show)"
      >
        Επεξεργασία πλάνου
      </button>

      <button class="m-2 p-2"
        *ngIf="authService.isAdmin()"
        mat-raised-button
        (click)="onDeleteShow(show)"
      >
        Διαγραφή παράστασης
      </button>

  </mat-card-actions>
  </mat-card>
