<!-- <div class="list-group">

<a [routerLink]="['app-login']" [routerLinkActive] = "['active']">Είσοδος στην εφαρμογή</a>
<a [routerLink]="['app-register']" [routerLinkActive] = "['active']">Εγγραφή νέου χρήστη</a>
<a *ngIf="authService.isAdmin()" [routerLink]="['app-play']" [routerLinkActive] = "['active']">Προσθήκη έργου</a>
<a *ngIf="authService.isAdmin()" [routerLink]="['app-show']" [routerLinkActive] = "['active']">Προσθήκη παραστάσεων</a>
<a [routerLink]="['app-play-list']" [routerLinkActive] = "['active']">Λίστα έργων</a>


</div> -->
