<div class="d-flex flex-column mt-2 w-100 mx-auto" style="max-width: 300px;">

    <form [formGroup]="form" class="d-flex flex-column">
        <mat-form-field>
            <mat-label>Username</mat-label>
            <input matInput type="text" formControlName="username">
            <mat-error>To username είναι υποχρεωτικό</mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Password</mat-label>
            <input matInput type="password" formControlName="password">
            <mat-error>Το password δεν είναι έγκυρο</mat-error>
        </mat-form-field>

        <button
        mat-flat-button
        color="primary"
        [disabled]="form.invalid"
        (click)="onSubmit()">Εισαγωγή
        </button>

        <a (click)="register()" class="mt-2 text-center underline text-blue-100 hover:text-blue-900">
         Δεν έχετε λογαριασμό?
        </a>

    </form>
</div>
