<div class="p-4">
  <div class="modal-header mb-2">
    <h6 class="modal-title d-flex justify-content-center">Επιβεβαίωση πληρωμής</h6>
  </div>

  <div class="modal-body mb-4">
    <p>Οι θέσεις κρατήθηκαν. Θέλετε να χρεωθεί η κάρτα σας;</p>
  </div>

  <div class="modal-footer d-flex justify-content-center gap-2">
    <button mat-button class="btn btn-sm btn-danger" (click)="cancel()">Ακύρωση κράτησης</button>
    <button mat-button class="btn btn-sm btn-success" (click)="confirm()">Κράτηση και πληρωμή</button>
  </div>
</div>
